/*分页器*/
.pager {
    padding-right:20px;
    text-align: right;
    color: #ccc;
    float:right;
    right:10px;
    width:100%;
    height:41px;
    line-height: 41px;
    background: -moz-linear-gradient(top, #f5f4f5 0%, #e6e6e5 100%);
    background: -webkit-linear-gradient(top, #f5f4f5 0%,#e6e6e5 100%);
    background: -o-linear-gradient(top, #f5f4f5 0%,#e6e6e5 100%);
    background: -ms-linear-gradient(top, #f5f4f5 0%,#e6e6e5 100%);
    box-shadow: 3px 3px 6px #ccc;
}
.pager a{
    display: inline-block;
    color: #0AA1ED;
    height: 25px;
    line-height: 25px;
    padding: 0 10px;
    border: 1px solid #ddd;
    margin: 0 2px;
    border-radius: 4px;
    vertical-align: middle;
}
.pager a:hover{
    text-decoration: none;
    border: 1px solid #0AA1ED;
}
.pager span.total{
	color: #888;
	margin-right: 15px;
}
.pager span.current{
    display: inline-block;
    height: 25px;
    line-height: 25px;
    padding: 0 10px;
    margin: 0 2px;
    color: #fff;
    background-color: #0AA1ED;
    border: 1px solid #0AA1ED;
    border-radius: 4px;
    vertical-align: middle;}
    
.pager span.disabled{
    display: inline-block;
    height: 25px;
    line-height: 25px;
    padding: 0 10px;margin: 0 2px;
    color: #bfbfbf;
    background: #f2f2f2;
    border: 1px solid #bfbfbf;
    border-radius: 4px;
    vertical-align: middle;
}

/*警告框*/
/*alert 框显示*/
#alertMsg {
    display: none;
    width: 380px;
    border: 1px solid #ddd;
    height: 200px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px black;
    padding: 21px;
    font-size: 12px;
    position: absolute;
    /* text-align: center; */
    background: #fff;
    z-index: 100000;
    display: block;
    position: fixed;
    left: 480px;
    top: 181px;
    width: 340px;
    height: 151px;
}

#alertMsg_info {
    width: 265px;
    height: 116px;
    line-height: 1.6em;
    text-align: center;
    color: #333333;
    font-size: 16px;
    padding-top: 40px;
    padding-left: 52px;
    background: url('../img/register/tan.png') no-repeat 12% 37%;
    background-size: 9% auto;
}

#alertMsg_btn1, #alertMsg_btn2 {
    display: inline-block;
    position: relative;
    top: -63px;
    left: 147px;
    padding-left: 0px;
    font-size: 12px;
    text-decoration: none;
    margin-right: 10px;
    cursor: pointer;
    color: #fff;
    border-radius: 2px;
    background-color: #FE6A00;
}

#alertMsg_btn1 cite, #alertMsg_btn2 cite {
    line-height: 21px;
    display: inline-block;
    padding:  5px 14px 4px 10px;
    font-style: normal;
    font-size: 16px;
    position: relative;
    left: 4px;
    border-radius: 2px;
}
.loading {
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
